.enable-review
{
    padding-left: 120px;
    height: 400px;
}

#review-list-empty
{
    text-align: center;
    padding-top: 70px
}

#review-list-empty p
{
    font-weight: bold;
    font-size: 20px
}

#review-list h4
{
    font-weight: bold;
    color: rgb(116, 7, 7);
}

#review-list span
{
    font-size:10px;
    font-weight: lighter;
    font-style: italic;
    color: gray;
    position: relative;
    top:-5px
}

